.action-button {
    width: 195px;
    height: 195px;
    background-color: #f8f9fa; /* Светлый фон */
    border: none;
    border-radius: 50%; /* Круглая форма */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .action-button::before {
    content: ''; 
    position: absolute; 
    top: -10px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100px; 
    height: 30px;
    background-color: red;
    border: 2px solid red;
    border-radius: 5px; 
  }

  .action-button:hover {
    background-color: #e2e6ea; /* Немного темнее при наведении */
  }
  
  .action-button span {
    text-align: center;
  }